p#timer{
  font-size: 85px;
  text-align: center;
}

button#start,#break,#reset{
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  width: 200px;
  height: 80px;
}
