
.time{
}

p#min,#sec{
  font-size: 85px;
  display:block;
  text-align: center;
  height: 174px;
  width: 164px;
}

button#start,#break,#reset{
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  width: 200px;
  height: 80px;
}
